body {
    background: linear-gradient(180deg, rgb(43, 14, 43), rgb(51, 42, 56) ,rgb(75, 74, 74));
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }

  
  * {
    box-sizing: border-box;
  }
  
  /*body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }*/
  
  .header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    color: #49c5aa;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .gallery::after {
    content: "";
    width: 350px;
  }
  